/*:root { --csize: 400px; }

img{
    height: 400px;
    width: 400px
}
.carousel{
    width: var(--csize);
    height: var(--csize);
}


.sm{
    color: black
}
div{
    width: 7%
}



.ms {
    background-color: black;
    height: 200px;
    width: 200px;
}
*/




.col1{
    background-color: black;
    width: 100%;
    height: 150px;
    flex-direction: column
}

.col2{
    background-color: blue;
    width: 100%;
    height: 100px;
    flex-direction: column
    
}
.col3{
    background-color: green;
    width: 6%;
    height: 500px;
    display: flex;
    flex-direction: column
}
.col3-1{
    background-color: orange;
    border: 1cm;
    padding: 3px; 
    border-color: black;
    display: flex;
    flex-direction: row
}

img{
    width: 300px;
    height: 300px;
    flex-direction: row
    
}

.carousel{
    width: 20%;
    height: 20%;
}




@media only screen and (max-width: 500px){

body{
    display: flex
}


.col{
    width: 100%;
    height: 30%;
    display:flex;
    flex-direction: column
}


}

