


.jumbotron{
    background-color: grey
}


@media (max-width: 20px) {  }
@media (min-width: 576px) and (max-width: 767.98px) {  }

 .col-10{
     background-color: blue
 }

 .col-2{
     background-color: aqua
 }


 
  
  body, html {
    height: 100%;
  }
  
